name: Build Simple API service

on:
  release:
    types: [published]
    paths:
      - 'helloAtlas.in/document-processing-placeholder-api/*'
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
    - 'helloAtlas.in/document-processing-placeholder-api/*'
  workflow_dispatch:
    inputs:
      message:
        description: 'Message for manually triggering'
        required: false
        default: 'Triggered for Updates'
        type: string
  push:
    branches:
    - 'master'
    paths:
    - 'helloAtlas.in/document-processing-placeholder-api/*'

jobs:
  build-dockers:
    strategy:
      matrix:
        include:
          - SERVICE_LOCATION: 'helloAtlas.in/document-processing-placeholder-api'
            SERVICE_NAME: 'document-processing-placeholder-api'
      fail-fast: false
    name: ${{ matrix.SERVICE_NAME }}
    uses: syedsalman3753/kattu/.github/workflows/docker-build-1.yaml@master
    with:
      SERVICE_LOCATION: ${{ matrix.SERVICE_LOCATION }}
      SERVICE_NAME: ${{ matrix.SERVICE_NAME }}
    secrets:
      DEV_NAMESPACE_DOCKER_HUB: ${{ secrets.DEV_NAMESPACE_DOCKER_HUB }}
      ACTOR_DOCKER_HUB: ${{ secrets.ACTOR_DOCKER_HUB }}
      RELEASE_DOCKER_HUB: ${{ secrets.RELEASE_DOCKER_HUB }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
